@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media only screen and (max-device-width: 480px) and (orientation: portrait),
  only screen and (max-device-width: 568px) and (orientation: landscape),
  only screen and (max-device-width: 768px) and (orientation: portrait),
  only screen and (max-device-width: 1024px) and (orientation: landscape) {}

  body {
    @apply bg-[#141414] text-white;
  }

  .dark-nav {
    @apply bg-[#141414] transition-colors;
  }

  .navbar {
    transition: 0.5s;
  }

  .gradient-nav {
    @apply bg-gradient-to-b from-black transition-colors;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  .trending-number {
    -webkit-text-stroke: 4px rgb(89, 89, 89);
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
    line-height: 200px;
  }
}

@layer components {
  .bg-red-primary {
    @apply bg-[#e50914];
  }

  .text-red-primary {
    @apply text-[#e50914];
  }

  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}
